# ln -s ~/dev_local/mac-init/dot_config/.gitconfig ~/.gitconfig
# This is Git's per-user configuration file.
[user]
	name = Eric Norman
	email = eric@norman.zone
	signingkey = C6D824C6114123D6
[core]
	excludesfile = /Users/e/.gitignore_global
	autocrlf = input
	attributesfile = /Users/eric/dev_local/mac-init/dot_config/.gitattributes
	attributesfile = filter.dropoutput_ipynb.clean
	attributesfile = filter.dropoutput_ipynb.smudge
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/eric/.stCommitMsg
	gpgsign = false

# https://githowto.com/aliases
[alias]
	st = status
	p = pull
	f = fetch
	h = help
	b = branch
	ba = branch -a
	com = commit
	ch = checkout
	br = branch
	ph = push heroku main
[init]
	defaultBranch = main
[gpg]
	program = gpg2

# juypyter notebook strip output: https://github.com/kynan/nbstripout
[push]
	autoSetupRemote = true
[pull]
	ff = only
[filter "nbstripout"]
	clean = \"/Users/e/dev_local/pioneer/portfolio_modeling/venv/bin/python\" -m nbstripout
	smudge = cat
[diff "ipynb"]
	textconv = \"/Users/e/dev_local/pioneer/portfolio_modeling/venv/bin/python\" -m nbstripout -t
